/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v23-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v23-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/rubik-v23-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v23-latin-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root{
    --main-bg-color: #fff;
    --main-text-color: #242A45;
    --line_active-color: #FA5959;
    --button-color: #5267DF;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Rubik', "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1144px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* ****************** HEADER STYLES STARTS********************* */
.site-header{
    padding-top: 48px;
    padding-bottom: 48px;    
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo{
    color: var(--main-bg-color);
}

.sitenav__list{
    display: flex;
}

.sitenav__item:not(:last-child){
    margin-right: 44px;
}

.sitenav__link{
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: var(--main-text-color);
}

.sitenav__link:hover{
    color: var(--line_active-color);
}

.sitenav__link_login{
    padding: 12px 34px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: var(--main-bg-color);
    border: 2px solid var(--line_active-color);
    background-color: var(--line_active-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}

.sitenav__link_login:hover{
    background: var(--main-bg-color);
    border: 2px solid;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    color: var(--line_active-color);
}

/* ****************** HEADER STYLES ENDS********************* */


/* ****************** MAIN STYLES START********************* */
.site-main{
    
}

/* ****************** HERO STYLE STARTS********************* */
.hero-section{
    padding-top: 137px;
    background-image: url(../images/Hero.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 653px) 66px;
}


.hero-section__title{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: var(--main-text-color);
}

.hero-section__desc{
    width: 100%;
    max-width: 540px;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.hero-section__btn{
    margin-top: 0;
    margin-bottom: 203px;
    margin-right: 16px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--main-bg-color);
    background: var(--button-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid var(--button-color);
}

.hero-section__btn:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--button-color);
    background: #FFFFFF;
    border: 2px solid var(--button-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}

/* ****************** HERO STYLE ENDS********************* */



/* ****************** FEATURE STYLE START********************* */
.feature-section{
    margin-bottom: 305px;
}

/* .feature-section__wrapper{
    position: relative;
} */

.feature-section__title{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--main-text-color);
}

.feature-section__desc{
    width: 100%;
    max-width: 540px;
    margin-top: 0;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.5;
}

/* .feature-section__wrapper-end{
    position: relative;
} */

.tab__list{
    display: flex;
    justify-content: center;
}

.tab__item:not(:last-child){
    /* margin-right: 90.5px; */
}

.tab__item{
    margin-bottom: 129px;
}

.tab__link{
    display: block;
    margin-top: 0;
    padding-bottom: 27px;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.533333px;
    color: var(--main-text-color);
    border-bottom: 1px solid #495DCF33;
    width: 243px;
}

/* .tab__link:hover{
    border-bottom: 4px solid var(--line_active-color);
} */


.panel__item{
    margin-left: 620px
}

.panel__title{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--main-text-color);
}

.panel__desc{
    width: 100%;
    max-width: 445px;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.panel__btn{
    margin-top: 0;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--main-bg-color);
    background: var(--button-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid var(--button-color);
}

.tab__item--active{
    border-bottom: 4px solid var(--line_active-color);
}

.panel__item{
    display: none;
}

.panel__item--active{
    display: block;
}

/* ****************** FEATURE STYLE ENDS********************* */



/* ****************** EXTENSION STYLE STARTS********************* */
.extension-section{
    margin-bottom: 149px;
    
}

.ext-section__title{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--main-text-color); 
}

.ext-section__desc{
    width: 100%;
    max-width: 540px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.ext__list{
    display: flex;
    justify-content: center;
}

.ext__item{
    width: 100%;
    max-width: 280px;
    min-height: 371px;
    background: var(--main-bg-color);
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
    text-align: center;
}

.ext__item:not(:last-child){
    margin-right: 34px;
}

.ext__logo{
    margin-top: 0;
    padding-top: 49px;
    margin-bottom: 32px;
}

.ext__logo-title{
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: var(--main-text-color);
}

.ext__logo-desc{
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 28px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.ext__logo-dots{
    margin-top: 0;
    margin-bottom: 24px;
}

.ext__logo-btn{
    margin-top: 0;
    margin-bottom: 24px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--main-bg-color);
    background: var(--button-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid var(--button-color);
}

.ext__logo-btn:active{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--button-color);
    background: #FFFFFF;
    border: 2px solid var(--button-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}
/* ****************** EXTENSION STYLE ENDS********************* */


/* ****************** FAQ STYLE START********************* */
.faq-section{
    margin-bottom: 160px;
}

.faq__title{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--main-text-color);
}

.faq__desc{
    width: 100%;
    max-width: 539px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
}



.faq__question{
    display: block;
}

.faq__question::after {
    margin-left: 100px;
    display: inline-block;
    transition: 1s;
    content: url(../images/down.svg)
}

.faq__info[open] summary::after {
    content: url(../images/up.svg);
}

.faq__details{
    width: 100%;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}

.faq__question{
    margin-top: 0;
    margin-bottom: 13px;
    padding-top: 19px;
    width: 100%;
    max-width: 540px;
    border-top: 1px solid #DEDFE3;
    font-size: 18px;
    line-height: 32px;
    color: var(--main-text-color);
}

.faq__question:hover{
    color: var(--line_active-color);
}

.faq__answer{
    margin-top: 0;
    margin-bottom: 49px;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.75;
}

.faq__btn{
    margin-left: 500px;
    margin-top: 54px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--main-bg-color);
    background: var(--button-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid var(--button-color);
}

.faq__btn:active{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--button-color);
    background: #FFFFFF;
    border: 2px solid var(--button-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}

/* ****************** FAQ STYLE ENDS********************* */


/* ****************** CONTACT STYLE STARTS********************* */
.contact-section{
    background-color: var(--button-color);
}

.contact-section__wrapper{
    
}

.contact__text{
    padding-top: 58px;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 5px;
    color: var(--main-bg-color);
}

.contact__title{
    width: 100%;
    max-width: 408px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--main-bg-color);
}

.contac__info{
    text-align: center;
}

.contact-email{
    padding: 10px;
    padding-right: 113px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 84px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: rgba(36, 42, 69, 0.250109);
    background: var(--main-bg-color);
    border-radius: 5px;
    border: none;
}

.contact__btn{
    padding: 16px 24px;
    margin-top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.25px;
    color: var(--main-bg-color);
    background: var(--line_active-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}





/* ****************** CONTACT STYLE ENDS********************* */

/* ****************** MAIN STYLES END********************* */



/* ****************** FOOTER STYLES START********************* */



/* ****************** FOOTER STYLES END********************* */



